@model Product

<div class="col-sm-12 col-md-6 col-xl-4 col-xxl-3 my-2">
    <div class="card" style="width: 18rem;">
  <img src="~/images/no_photo.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">@Model.ProductName</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <p class="card-text"><b>@Model.Price.ToString("c")</b></p>
    <a class="btn btn-primary" asp-controller="Product" asp-action="Get" asp-route-id="@Model.ProductId">
        <i class="fa-solid fa-arrow-right mx-3" ></i>
        Go Details</a>
  </div>
</div>
</div>

