<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <header style="background-color: brown;">
        This Side for header
        <br>
        <br>

        @* Burada ek bir şey olabilir ama false dediğimiz için olmak zorunda değil *@
        @RenderSection("Header", false)

        @* Görünümün daha sade olması için partial viewlardan yararlanıldı. *@
        <partial name="_Navbar">

    </header>

    <main style="background-color: burlywood;">

        @* Burası sürekli değişecek olan kısım *@
         @RenderBody()

    </main>

    <footer style="background-color: crimson;">

        @* Burada ek bir şey olabilir ama false dediğimiz için olmak zorunda değil *@
        @RenderSection("Footer", false)

        <br>
        <br>
        This side for footer
    </footer>

@* Burada ek js ler olabilir ama zorunlu değil *@
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>